* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Raleway';
  background-color: #A8D0E6;
}

.container {
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.bill_calculator {
display: inline-block;
padding: 30px;
background-color: #f76c6c;
border: 4px solid #f8e9a1;
color: #24305e;
font-size: 24px;

}

h1 {
  text-align: center;
}

p {
  margin-top: 10px;
}

input {
  width: 80px;
  padding: 5px 5px;
  background-color: #FBD0E6;
  border: 2px solid #FBA0E6;
}

input:focus {
  border: 2px solid #A8D0E6;
}

select {
  padding: 5px 5px;
  background-color: #FBD0E6;
  font-family: 'Raleway';
  border: 2px solid #FBA0E6;
}

button {
  font-family: 'Raleway';
  position: absolute;
  display: inline-block;
  margin-top: 20px;
  left:calc(50% - 70px);
  width: 150px;
  height: 50px;
  color: #24305e;
  background-color: #FBD0E6;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40%;
  border: none;
}

button:hover {
  background-color: #F8E96D;
}

button:active {
  transform: translateY(5px);
}

.tip_display {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tipNum {
  margin-top: 80px;
}
